main > .container {
    padding: 70px 15px 20px;
}

* {
    font-family: QuickSand;
}

*::first-letter {
    text-transform:capitalize;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

body { 
    /*background: url('../images/bg.jpg') no-repeat center center fixed; */
    background: no-repeat center center fixed;
    background-image: url('../images/bg.jpg'); 
    /*background-blend-mode: multiply;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;

}

.capa-1 { 
    /*background: url('../images/bg-gd-2.png') no-repeat center center fixed; */
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: linear-gradient(90deg, rgba(255,0,0,0) 50%, rgba(0,0,0,0.8) 100%);
}

.capa-2 { 
    /*background: url('../images/bg-gd-3.png') no-repeat center center fixed; */
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

.logo{

    height: 100px;
    /*width: 845px;*/
    /*background: no-repeat center center fixed;*/
    background-image: url('../images/logo.png');
    /*    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;*/
    /*    background: no-repeat center center fixed;*/
    /*background-image: url('../images/map.png');*/ 
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: 1000px ;*/
    /*color: white;*/
    background-repeat: no-repeat;
    background-size: 370px 100px;
    /*height: 150px;*/
    /*  background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*opacity: 80%;*/
    background-position: center;
}

.op80 {
    /*opacity: 0.8;*/
}

.bgb {
    border: 1px solid transparent;
    background: rgba(0, 0, 0, 0.6) !important;
    border-radius: 7px;
    padding: 3px 3px 3px 3px;
    /*z-index:3;*/
}

.bgb-40 {
    border: 1px solid transparent;
    background: rgba(0, 0, 0, 0.4) !important;
    border-radius: 7px;
    padding: 3px 3px 3px 3px;
}

/*.login-form {
    display: -ms-flexbox !important;
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
    align-content: center !important;
    justify-content: center !important;
    align-items: center !important;
}*/

.field {
    height: 77px;
}

.btn-zelda {
    background: rgba(0, 0, 0, 0.1);
    color: white;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    padding: 15px 0px 15px 0px;
    width: 100%;
}

.btn-zelda:hover {
    background: rgba(0, 0, 0, 1);
    color: white;
    text-shadow: 0px 0px 7px #FFF3C7;
    border-color: white;
    border-radius: 3px;
    padding: 15px 0px 15px 0px;
    width: 100%;
    box-shadow: 0px 0px 17px #FFF3C7;


}

.borde {
    border: 2px solid white;
    border-color: rgba(255, 255, 255, 0.2);
    /*color: rgba(255, 255, 255, 0.5);*/
    border-radius: 3px;
    width: 100%;
    /*height: 100%;*/
}

.a:hover {
    text-shadow: 0px 0px 7px #FFF3C7;
    text-decoration: none;
}

.shine /*, label*/{
    text-shadow: 
        0px 0px 50px black, 
        0px 0px 45px black, 
        0px 0px 40px black, 
        0px 0px 35px black, 
        0px 0px 30px black, 
        0px 0px 25px black, 
        0px 0px 20px #FFF3C7, 
        0px 0px 15px #FFF3C7, 
        0px 0px 10px #FFF3C7, 
        0px 0px 5px #FFF3C7, 
        0px 0px 5px #FFF3C7, 
        0px 0px 5px #FFF3C7;

}
/*.iv-branding .branding-img-container img {
    display: none !important;
}
#player{
    transform: scaleX(1.35) !important;
    position: relative !important;
    z-index: -100 !important;
    // &::before{
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    // }
}*/

label{
    /*text: left !important;*/
    color: #999!important;
}
/*.q {
    text-shadow: 0px 0px 3px #FFF3C7;
    border: 1px solid white;
    width: 20px;
    font-weight: bolder;
    box-shadow: 0px 0px 3px #FFF3C7;
}
.q:hover {
    text-shadow: 0px 0px 7px #FFF3C7;
    border: 1px solid white;
    width: 20px;
    font-weight: bolder;
    box-shadow: 0px 0px 17px #FFF3C7;
}*/

input {
    accent-color: #2EA42E;
}

/*.input-group-text{
    background-color: transparent;
    border: transparent;
}*/

.caja {
    height: 450px;
    width: 350px;
    justify-content: center;
}

.invalid-feedback{
    border: 1px solid transparent;
    background: rgba(0, 0, 0, 1);
    border-radius: 7px;
    font-weight: 500;
    padding: 3px 3px 3px 3px;
}

.today.day{
    background-color: #062d0d !important;
}

.active.day{
    background-color: #1BCA3A !important;
}

.page-link {
    background: rgba(0, 0, 0, 0.4);
    border: 7px solid transparent;
    color: #1BCA3A;
}

.page-link:hover {
    background: rgba(0, 0, 0, 0.9);
    border: 7px solid #1BCA3A;
    color: #1BCA3A;
}

.page-item.active .page-link {
    background-color: #1BCA3A;
    border-color: #1BCA3A;
}

.page-item.disabled .page-link {
    background: rgba(0, 0, 0, 0.4);
    border: 7px solid transparent;
    color: #062d0d;
    font-weight: 900;
}

.summary{
    text-shadow: 
        0px 0px 60px black, 
        0px 0px 55px black, 
        0px 0px 50px black, 
        0px 0px 45px black, 
        0px 0px 40px black, 
        0px 0px 35px black, 
        0px 0px 30px black, 
        0px 0px 25px black;
    color: #1BCA3A;

    padding-top: 50px;
    text-align: center;
}

.pagination{
    padding-top: 5px;
    justify-content: center;
}

.nav-link.active{
    background-color: #1BCA3A !important;
    border: 1px solid #1BCA3A !important;
}

.nav-link {
    background: rgba(0, 0, 0, 0.4);
    /*border: 1px solid white !important;*/
    color: #1BCA3A;
    border-color: rgba(255, 255, 255, 0.2) !important;
    border-radius: 3px;
}

.nav-link:hover {
    background: rgba(0, 0, 0, 1);
    /*border: 1px solid #1BCA3A !important;*/
    color: #1BCA3A;
    border-color: rgba(27, 202, 58, 0.2) !important;
    border-radius: 3px !important;
}

.nav-tabs {
    border-bottom: 3px solid;
    border-bottom-color: rgba(255, 255, 255, 0.2) !important;
}

.empty{
    visibility: hidden;
}

.navbar {
    /*    margin: 0px;
        padding: 0px;*/
    /*padding-bottom: 80px;*/ 
    border-bottom: 3px solid;
    border-bottom-color: rgba(255, 255, 255, 0.2) !important;
    /*margin: 100px;*/
    /*padding: 500px;*/

}

.navbar-bg {
    background: rgba(0, 0, 0, 0.4);
}

.mt-6{
    margin-top: 100px;
}

.mt-n6{
    margin-top: -250px;
}

.mt-7{
    margin-top: 148px;
}

.ml-6{
    margin-left: 1743px;
}

.mb-n6{
    margin-bottom: -120px;
}

.py-2px{
    margin-top: 2px;
    margin-bottom: 2px;
}


header {
    /*overflow: hidden;*/
    /*height: 100%;*/

}

.vista-mod-altura {
    height: 32em !important;
}
.vista-mod-ancho {
    width: 615px;
    justify-content: center;
}

.bar {
    border-bottom: 3px solid;
    border-bottom-color: rgba(255, 255, 255, 0.2) !important;
}

/*<i class="fa-duotone fa-house-chimney"></i>*/

html, body {
    overflow: hidden !important;
    width: 100% !important;
}

.badge-zelda{
    color: white;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

/*.btn-zelda {
    background: rgba(0, 0, 0, 0.1);
    color: white;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    padding: 15px 0px 15px 0px;
    width: 100%;
}*/

.badge-zelda:hover {
    color: white;
    background: rgba(0, 0, 0, 1);
    text-shadow: 0px 0px 7px #FFF3C7;
    border-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 17px #FFF3C7;
    text-decoration: none;
}

/*la clase tal de toda la vida*/
.tal {
    background-color: #062d0d;
}

.map {
    /*background: no-repeat center center fixed;*/
    background-image: url('../images/map.png'); 
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: 1000px ;*/
    /*color: white;*/
    background-repeat: no-repeat;
    background-size: 790px 150px;
    height: 150px;
    /*  background-repeat: no-repeat;*/
    /*background-size: cover;*/
    opacity: 80%;
}

.instrucciones {
    height: 18em !important;
}

/*.display-1{
    font-size: 6rem !important;
    font-weight: 300 !important;
    line-height: 1.2 !important;
}

.display-2{
    font-size: 5.5rem !important;
    font-weight: 300 !important;
    line-height: 1.2 !important;
}

.display-3{
    font-size: 4.5rem !important;
    font-weight: 300 !important;
    line-height: 1.2 !important;
}

.display-4{
    font-size: 3.5rem !important;
    font-weight: 300 !important;
    line-height: 1.2 !important;
}*/

/*.display-5{
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.2;
}*/














/*SCROLLBAR CUSTOM*/

.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
}
.force-overflow {
    min-height: 450px;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #4285F4;
}

.scrollbar-primary {
    scrollbar-color: #4285F4 #F5F5F5;
}

.scrollbar-danger::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-danger::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-danger::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #ff3547;
}

.scrollbar-danger {
    scrollbar-color: #ff3547 #F5F5F5;
}

.scrollbar-warning::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-warning::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-warning::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #FF8800;
}

.scrollbar-warning {
    scrollbar-color: #FF8800 #F5F5F5;
}

.scrollbar-success::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-success::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-success::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #00C851;
}

.scrollbar-success {
    scrollbar-color: #00C851 #F5F5F5;
}

.scrollbar-info::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-info::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-info::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #33b5e5;
}

.scrollbar-info {
    scrollbar-color: #33b5e5 #F5F5F5;
}

.scrollbar-default::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-default::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-default::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #2BBBAD;
}

.scrollbar-default {
    scrollbar-color: #2BBBAD #F5F5F5;
}

.scrollbar-secondary::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-secondary::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-secondary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #aa66cc;
}

.scrollbar-secondary {
    scrollbar-color: #aa66cc #F5F5F5;
}

.scrollbar-deep-purple::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-deep-purple::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-deep-purple::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #512da8;
}

.scrollbar-deep-purple {
    scrollbar-color: #512da8 #F5F5F5;
}

.scrollbar-cyan::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-cyan::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-cyan::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #00bcd4;
}

.scrollbar-cyan {
    scrollbar-color: #00bcd4 #F5F5F5;
}

.scrollbar-dusty-grass::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-dusty-grass::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-dusty-grass::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #d4fc79 0%, #96e6a1 100%);
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.scrollbar-ripe-malinka::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-ripe-malinka::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #f093fb 0%, #f5576c 100%);
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}

.bordered-deep-purple::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border: 1px solid #512da8;
}

.bordered-deep-purple::-webkit-scrollbar-thumb {
    -webkit-box-shadow: none;
}

.bordered-cyan::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border: 1px solid #00bcd4;
}

.bordered-cyan::-webkit-scrollbar-thumb {
    -webkit-box-shadow: none;
}

.bordered-z::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background: #062d0d;
    border: 1px solid #062d0d;
}

.bordered-z::-webkit-scrollbar-thumb {
    -webkit-box-shadow: none;
}

.square::-webkit-scrollbar-track {
    border-radius: 0 !important;
}

.square::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
}

.thin::-webkit-scrollbar {
    width: 6px;
}

.example-1 {
    position: relative;
    overflow-y: scroll;
    height: 200px;
}


/*CRONOMETRO CSS*/

*{box-sizing:border-box;margin:0;padding:0;}
@font-face{
    font-family:alarm;
    src:url(alarm.ttf);
}
.cronometro{
    width:200px;
    height:100px;
    top:50%;
    left:50%;
    position:absolute;
    margin-top:-50px;
    margin-left:-100px;
    text-align:center;
} 
.boton{
    display:inline-block;
    width:32px;
    height:32px;
    position:relative;
}

#hms{
    height:68px;
    padding:5px 0;
    font-size:50px;
    /*color:#000;*/
    /*font-family: watch;*/  
}

.start{
    background-color: red;
}

.stop{
    background-color: red;
}

.reiniciar{
    background-color: red;
}


/*PARTICULAS*/

/* ---- reset ---- */ 
body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } 
canvas{ display: block; vertical-align: bottom; } 
/* ---- particles.js container ---- */ 
#particles-js{ position:absolute; width: 100%; height: 100%; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } 
/* ---- stats.js ---- */ 
.count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } 
.js-count-particles{ font-size: 1.1em; } 
#stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } 
#stats{ border-radius: 3px 3px 0 0; overflow: hidden; } 
.count-particles{ border-radius: 0 0 3px 3px; }